<style>
.content{
    display: block;
    margin: auto;
    max-width: 800px;
}
.message-container{
    max-width: 600px;
    height: 400px;
    overflow: auto;

}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container .left {
    float: left;
    width: 100%;
    margin-right: 10px;
}

.container .right{
    float: right;
    width: 100%;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
.send-message{
    max-width: 600px;;
}